*{
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) { 
  .img img{
    width: 300px;
  }
  .Front{
    display: flex;
    flex-direction: column;  
  
  }
  
}

@media (max-width: 575.98px) { 
  .img img{
    width: 300px;
  }
  .Front{
    display: flex;
    flex-direction: column;  
     
  }

}

.Front{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.front-text{
  margin: 10px 60px;
  
}

.pattaya-regular {
  color: rgba(96, 95, 95, 0.865);
  font-family: "Pattaya", sans-serif;
  font-weight: 0px;
  font-style: normal;
}


.img img{
  margin: 10px;
  border: solid rgba(93, 92, 92, 0.516) 2px;
  border-radius: 5%;
  box-shadow: 8px 8px 10px #31792eda;
}

.img img:hover{
  transform: rotate(5deg);
}

a{
  text-decoration: none;
}

a:hover{
  color: #31792eda;
}

.navbar-nav {
margin: 0 auto ;
padding-left: 800px;
}

.button{
  color: #ffffff;
  font-weight:500;
  background-color:#31792eda ;
}

.Forms{
  margin-top: 10px;
  border-radius: 20px ;
  box-shadow: 8px 8px 10px;
  padding-bottom: 10px;
}

.Forms button:hover{
background-color: grey;
color: black;
}

input{
  padding: 10px;
  border-radius: 10px;
  width: 300px;
}

textarea{
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  margin-bottom: 20px;
}

button a{
  color: #ffffff;
}
button a:hover{
  color: black;
}


.button:hover{
  background-color: grey;
}

.Contact{
  
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-top: 25px;
  padding: 20px;
  border-radius: 10px;
}

.Mass-button{
  width: 300px;
}

.logo{
  margin-top: 30px;
  text-align: center;
  
}

.Pictures{
  padding-top: 20PX;
  padding-left: 20px;
 /* flex-direction: column; */
 margin-bottom: 10px;
 text-wrap: wrap;
 /* display: inline-block; */
 
}

.Works{
  background-color: rgba(128, 128, 128, 0.242);
  font-weight: 600%;
}

.Works h1{
padding-top: 30px;
font-style: bold;
color: #31792eda;
}

.card{
  width: 265px;
  /* margin: 10px; */
  font-size: small;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 20px;
  
}

.but{
  text-align: center;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  width: 90px;
  margin-bottom: 10px;
  margin-top: 0;
  font-size: small;
}





